* {
    padding: 0;
    margin: 0;
}
/*cuerpo de la pagina*/

body{
    font-family: Arial, sans-serif;
    background-color: #ababab;
}

/*titulo*/

.titulo{
    text-align: center;
    margin: 30px;
}

/*contenedor principal */

.contenedor {
    display: flex;
    justify-content: center; 
}
/*Lo hizo alejandro xd*/

.card {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border: solid 1px rgb(146, 143, 143);
}


/*formulario*/

.formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/*input*/

input{
    padding: 10px;
    border: 2px solid #6b63dc;
    border-radius: 10px;
    outline: none;
}

/*boton*/

button{
    padding: 10px 15px;
    background-color: #736be5;
    color: white;
    border-radius: 10px;
}

